body {
	font-family: "verdana", arial, sans-serif;
  background-color: #A2CCFF;
}

body * {
  box-sizing: border-box;
}

.para {
	margin: 15px;
	line-height: 1.6;
}

.pageTitle {
  margin: 15px;
  /* padding: 10px; */
  overflow: hidden;
  color: #114C8D;
  text-align: center;
}

.articleTitle {
  margin: 10px;
  padding: 10px 20px;
  overflow: hidden;
  background-color: #114C8D;
  color: white;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #114C8D;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

li a:hover {
  background-color: #A2CCFF;
  color: black;
}

.headUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A2CCFF;
}

.headLi {
  float: left;
}

.headLi a {
  /* display: block; */
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.headLi a:hover {
  background-color: #114C8D;
  color: white;
}

.logo {
  width: 52px;
  height: 52px;
  margin: 0px 10px;
}

/* .polaroidContainer {
	position: absolute;
	top: 300%;
	left: 2.7%;
} */

div.polaroid {
  /* width: 26.7%;
	margin: 0% 2.7%; */
  background-color: #DFEEFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
	display: inline-block;
}

div.containerP {
  text-align: center;
  padding: 10px 20px;
}

.firstBox {
        width: 40%;
        height: 45%;
        background: #DFEEFF;
        position: absolute;
        top: 28%;
        left: 5%;
    }

		.firstGridContent {
		        background: #DFEEFF;
						padding: 5px;
						margin-bottom: 110px;
		    }

    .secondHomeBox {
						background: #DFEEFF;
        }

        .thirdHomeBox {
                background: #DFEEFF;
            }

            .fourthHomeBox {
                    background: #DFEEFF;

                }

                .fifthHomeBox {
                        background: #DFEEFF;
                    }

                    .sixthHomeBox {
                            background: #DFEEFF;
                        }
																		.secondSourceBox {
										                        background: #DFEEFF;
										                            }

																								.thirdSourceBox {
																                        background: #DFEEFF;
																                            }

								.fourthSourceBox {
                        background: #DFEEFF;
                            }

                .fifthSourceBox {
                        background: #DFEEFF;
                            }

														.secondAct {
																		background: #DFEEFF;
																}

																.thirdAct {
												                background: #DFEEFF;
												            }
.covidBox {
        background: #DFEEFF;
            }

            .covidBoxTwo {
                    background: #DFEEFF;
                        }

												.charityBox {
												        background: #DFEEFF;
												            }

												            .charityBoxTwo {
												                    background: #DFEEFF;
												                        }

																								.charityBoxThree {
																												background: #DFEEFF;
																														}

																														.charityBoxFour {
																																		background: #DFEEFF;
																																	}

.footer {
    background-color: #114C8D;
    padding: 10px;
    text-align: center
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}




* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
	/* width: 40%; */
  position: relative;
  margin: auto;
	/* top: 85%; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.grid-container-gift {
	margin-top: -250px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 200px;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2%;
  grid-template-areas:
    "a a ."
    ". b b"
    "c c ."
    ". d d"
    "e e e"
    "f g h";
}

.grid-container-gift .firstGrid {
	grid-area: a;
}

.grid-container-gift .charityBox {
	grid-area: b;
}

.grid-container-gift .charityBoxTwo {
	grid-area: c;
}

.grid-container-gift .charityBoxThree {
	grid-area: d;
}

.grid-container-gift .charityBoxFour {
	grid-area: e;
}

.grid-container-gift .polaroid1 {
	grid-area: f;
}

.grid-container-gift .polaroid2 {
	grid-area: g;
}

.grid-container-gift .polaroid3 {
	grid-area: h;
}


.grid-container-sources {
	margin-top: -200px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 200px;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5%;
  grid-template-areas:
    "a a ."
    ". b b"
    "c c ."
    ". d d"
    "e e e";
}

.grid-container-sources .firstGridContent {
	grid-area: a;
}

.grid-container-sources .secondSourceBox {
	grid-area: b;
}

.grid-container-sources .thirdSourceBox {
	grid-area: c;
}

.grid-container-sources .fourthSourceBox {
	grid-area: d;
}

.grid-container-sources .fifthSourceBox {
	grid-area: e;
}


.grid-container-charity {
	margin-top: -200px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 200px;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5%;
  grid-template-areas:
    "a a ."
    ". b b"
    "c c ."
    ". d d"
    "e e e";
}

.grid-container-charity .firstGridContent {
	grid-area: a;
}

.grid-container-charity .charityBox {
	grid-area: b;
}

.grid-container-charity .charityBoxTwo {
	grid-area: c;
}

.grid-container-charity .charityBoxThree {
	grid-area: d;
}

.grid-container-charity .charityBoxFour {
	grid-area: e;
}


.grid-container-home {
	margin-top: -300px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 300px;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5% 2%;
  grid-template-areas:
    "a a a . . ."
    "a a a . . ."
    "a a a b b b"
    "c c c b b b"
    "c c c b b b"
    "c c c . . ."
    ". . . d d d"
    "e e e d d d"
    "e e e . . ."
    "e e e f f f"
    "e e e f f f";
}

.grid-container-home .firstGridContent {
	grid-area: a;
}

.grid-container-home .secondHomeBox {
	grid-area: b;
}

.grid-container-home .thirdHomeBox {
	grid-area: c;
}

.grid-container-home .fourthHomeBox {
	grid-area: d;
}

.grid-container-home .fifthHomeBox {
	grid-area: e;
}

.grid-container-home .sixthHomeBox {
	grid-area: f;
}


.grid-container-activities {
	margin-top: -250px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 200px;
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2%;
  grid-template-areas:
    "a ."
    "b c"
    "d e";
}

.grid-container-activities .firstGridContent {
	grid-area: a;
}

.grid-container-activities .slide1 {
	grid-area: b;
}

.grid-container-activities .secondAct {
	grid-area: c;
}

.grid-container-activities .thirdAct {
	grid-area: d;
}

.grid-container-activities .slide2 {
	grid-area: e;
}


.grid-container-covid {
	margin-top: -250px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 250px;
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5%;
  grid-template-areas:
    "a ."
    "b b"
    "c c";
}

.grid-container-covid .firstGridContent {
	grid-area: a;
}

.grid-container-covid .covidBox {
	grid-area: b;
}

.grid-container-covid .covidBoxTwo {
	grid-area: c;
}
